@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

body {
      /*font-family: 'DM Serif Display', serif;*/
      font-family: 'Jost', sans-serif;
      margin: 0;
      background-image: url(../img/line.svg);
      background-repeat-x: no-repeat;
      background-position: center;
      font-size: 22px;
      line-height: 1.5;
      color: #4D5053;
}
.container {
      max-width: 1200px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
}
.bg {
      background-color: #F4F0EC;
}
.page {
      padding-top: 178px;
      padding-bottom: 178px;
}
.brands {
      display: flex;
      justify-content: space-around;
      align-items: center;
}
.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 43px;
      padding-bottom: 45px;
}
.header__nav {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding-left: 0;
}
.header__item {
      margin-left: 48px;
}
.header__item:last-child {
      margin-left: 30px;
}
.header__link {
      color: #292F36;
      font-size: 20px;
      text-decoration: none;
      transition: .2s;
}
.header__link:hover {
      color: #CDA274;
}
.header__search {
      padding: 0;
      background: transparent;
      border: none;
      display: flex;
      cursor: pointer;
}
.hero {
      position: relative;
      overflow: hidden;
      border-radius: 0 0 0 30vh;
      height: calc(100vh - 164px);
      min-height: 400;
      max-height: 1042;
      display: flex;
      align-items: center;
      margin-bottom: 198px;
}
.hero >.container {
      flex-basis: 100%;
}
.hero__img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -1;
}
.hero__title {
      font-family: 'DM Serif Display', serif;
      font-size: 85px;
      line-height: 1.25;
      font-weight: 400;
      color: #292f36;
      margin-top: 0;
}
.hero__title,
.hero__text {
      max-width: 600px;
}
.title {
      font-family: 'DM Serif Display', serif;
      font-size: 50px;
      line-height: 1.25;
      font-weight: 400;
      color: #292F36;
      margin-top: 0;
}
.btn-primary {
      display: inline-block;
      padding: 26px 61px 26px 31px;
      background-color: #292F36;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.02em;
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: 18px;
      position: relative;
}
.btn-primary::after {
      content: '';
      background-image: url(../img/arrow.svg);
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      width: 20px;
      height: 18px;
      position: absolute;
      right: 31px;
      top: calc(50% - 9px);
}
.about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 75px;
}
.about__text {
      flex-grow: 1;
      flex-basis: calc(100% - 700px);
}
.about__thumb {
      position: relative;
      overflow: hidden;
      flex-basis: 700px;
      height: 653px;
      border-radius: 0 326px 0px 123px;
}
.about__img {
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%, -50%);
}
.about-phone {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 45px;
      margin-bottom: 47px;
}
.about-phone__icon {
      background-color: #F4F0EC;
      width: 93px;
      height: 93px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}
.about-phone__icon::after {
      content: '';
      background-image: url(../img/tel.svg);
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      width: 32px;
      height: 32px;
}
.about-phone__text > p {
      margin: 0;
}
.about-phone__text > p:first-child {
      font-weight: 700;
      font-size: 24px;
}

.swiper-feedback {
      margin-top: 200px;
}
.swiper-feedback__slide {
      text-align: center;
      background-color: #F4F0EC;
      border-radius: 70px;
      padding: 88px 225px 182px;
      box-sizing: border-box;
}
.swiper-feedback__text {
      font-family: 'DM Serif Display', serif;
      font-size: 35px;
      line-height: 1.25;
      font-style: italic;
      color: #292f36;
      margin-top: 90px;
      margin-bottom: 34px;
}
.swiper-feedback__text::before {
      content: '';
      background-image: url(../img/quote.svg);
      display: block;
      width: 31px;
      height: 23px;
      margin: 0 auto 27px;
}
.swiper-feedback__author {
      font-size: 25px;
      text-transform: uppercase;
}
.swiper-feedback__next {
      right: 92px;
}
.swiper-feedback__prev {
      left: 92px;
}
.swiper-feedback__next,
.swiper-feedback__prev {
      background-color: #fff;
      width: 52px;
      height: 52px;
      border-radius: 100%;
}
.swiper-feedback__next::after,
.swiper-feedback__prev::after {
      content: '';
      background-image: url(../img/arrow-btn.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      display: block;
      width: 8px;
      height: 16px;
}
.swiper-feedback__prev::after {
      transform: rotate(180deg);
}
.stat {
      padding-top: 151px;
      padding-bottom: 151px;
}
.stats {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
}
.stats__item {
      flex-basis: 25%;
      padding: 0 15px;
      position: relative;
}
.stats__item::after {
      content: '';
      display: block;
      width: 1px;
      height: 130px;
      background-color: #CDA274;
      position: absolute;
      right: 0;
      top: calc(50% - 65px);
}
.stats__item:last-child::after {
      display: none;
}
.stats__item p {
      margin-top: 0;
}
.stats__item span {
      display: block;
      font-family: 'DM Serif Display', serif;
      font-size: 85px;
      color: #CDA274;
}
.footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 80px;
      padding-bottom: 80px;
      color: #4D5053;
      font-size: 22px;
}
.footer__info {
      display: flex;
      align-items: center;
      gap: 90px;
}
.footer__info a {
      color: #4D5053;
      text-decoration: none;
}
.overlay {
      position: fixed;
      top: -100vh;
      right: 0;
      left: 0;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      transition: .3s;
}
.modal-search {
      background-color: #ffffff;
      padding-top: 47px;
      padding-bottom: 47px;
}
.modal-search__content {
      display: flex;
      align-items: center;
      gap: 38px;
}
.modal-search__input {
      font-family: 'Jost', sans-serif;
      font-size: 22px;
      flex-grow: 1;
      border: none;
      border-bottom: 1px solid #000000;
      padding: 13px 0;
      transition: .3s;
}
.modal-search__input:focus {
      outline: none;
      border-bottom-color: #CDA274;
}
.modal-search__btn {
      cursor: pointer;
      background-image: url(../img/arrow-btn.svg);
      background-size: 6px 14px;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      display: block;
      border-radius: 100%;
      border: 1px solid #CDA274;
      width: 52px;
      height: 52px;
}
.modal-search__close {
      cursor: pointer;
      background-image: url(../img/close.svg);
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
      display: block;
      width: 22px;
      height: 22px;
}
